/*Import all fonts here*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@350&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*collection*/
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');
/*Testimonials*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*******/
html{
    overflow-x: hidden;
}
body{
    margin: 0%;
    height:100%;
}
.body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}


 .header{
    min-height: 60px;
    font-family: 'Roboto','Monaco';
    background-color: #000000;
    padding: 10px;
    display: flex;
    border-bottom: 5px solid red;
    justify-content: flex-start;
}
.header div{
    color: rgb(255, 255, 255);
}
.header-logo{
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}
.logo{
    font-family: 'Spartan', sans-serif;
    display: flex;
    list-style-type: none;
    font-size: 48px;
    gap: 15px;
    align-items: center;
}

ul{
    display: flex;
    list-style: none;
    flex: 1;
    gap: 16px;
    margin: 0%;
    align-items: center;
    justify-content: space-around;
}
ul a{

    text-decoration: none;
    border: 2px solid red;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}




.content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.expo{
    flex-shrink: 0;
    font-size: 100px;
    font-family: 'Montserrat';
}
.expo-wrapper{
    padding-bottom: 0;
    text-align: center;
    flex-shrink: 1;
}
.expo-img{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    margin-bottom: 0;
}
.expo-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: ;
    color: rgb(255, 255, 255);
}

.collection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.product-header{
    font-family: 'Spline Sans', sans-serif;
    font-size: 32px;
    width: 100%;
    text-align: center;
    margin-top: 0;
}
.width-100{
    width: 100%;
}
.images img{
    filter: brightness(70%);
}
.images{
    display: flex;
    flex-direction: column;
    gap: 0px;
    width: 100%;
    margin: 0;
}
.images img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.sub-images{
    display: flex;
    margin-top: -4px;
    align-items: stretch;
    padding: 0;
}
.image-container{
    position: relative;
    text-align: center;
}
.img-txt-left,.img-txt-right{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: 'Shizuru',sans-serif;
}
.img-txt-left{
    color: rgb(183, 110, 27);
}
.img-txt-right{
    color: turquoise;
}
.img-txt-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-size: 70px;
    color: yellow;
    font-family: 'Rock 3D';
    padding: 0;
}



.testimonials{
    display: flex;
    flex-direction: column;
}
.testimonials-header{
    width: 100%;
    font-size: 50px;
    text-align: center;
    font-family: 'Montserrat';

}
.review-box{
    margin: 10% 20%;
    text-align: center;
}
.review-text{
    color: rgb(94, 92, 92);
    font-size: 32px;
    font-weight: bold;
    font-family: 'Roboto';
}
.review-location{
    color: rgb(158, 158, 158);
    font-size: 28px;
    font-family: sans-serif;
}



.newsletters{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    background-color: turquoise;
    height: 150px;
    align-items: center;

}
.newsletter-text{
    color: tomato;
    padding-right: 0;
    font-size: 48px;
    font-family: 'monaco';
}
button{
    background-color: yellow;
    color: rgb(90, 119, 30);
    border-radius: 5px;
    border-style: none;
    font-size: 42px;
    font-family: 'monaco';
}





.footer{
    margin-top: auto;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 32px;
    margin: 0;
    color: rgb(255, 255, 255);
}
